.lead-card{
    .card-body{
        .table{
            tr{
                td:first-child{
                    color: #a0a0a0;
                }
            }
        }
        .text-gray{
            color: #a0a0a0;
        }
    }

    &.follow-near{
        background-color: #dc3545;
        .css-8je8zh-MuiTouchRipple-root{
            background-color: unset !important;
            color: #2e7d32 !important;
        }
        *{
            background-color: #dc3545;
            color: #fff !important;
        }
        
    }
}