.page-breadcrumb{
    .breadcrumb-title{
        color: var(----primary-text);
        font-size: 1.5rem;
        // line-height: 75px;
    }
    .sub-title{
        color: #525b75 !important;
        font-weight: 600 
    }
}