.my-course-content{
    .my-course-card{
        cursor: pointer;
        .text-dis{
            font-size: 15px;
        }
        .icon-course{
        .material-icons{
            color: rgb(116, 117, 121);
            font-size: 21px;
            vertical-align: text-top;
        }
        }
    }
}